.DS_Store

# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local

node_modules/
cache/
.openzeppelin/
.vscode/
.claude/
.cursor/

# Deployment tracking (optional - remove this line if you want to commit deployment addresses)
# deployments.json